
/* PC only */

@media (min-width: 1024px) {
    .hide-on-pc {
        display: none !important;
    }

}

/* Tablet to PC low resolution */
@media (min-width: 985px) and (max-width: 1200px) {
    .hidden-pc-low{
        display: none;
    }

    
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hidden-m-t {
        display: none !important;
    }

    /* utils */
    .intro-wrapper-content{
        flex-direction: column;
    }

    .intro-title-img,
    .intro-title,
    .intro-slider{
        width: 100%;
    }

    .intro-wrapper .swiper-slide{
        transform: scale(0.9) !important;
    }

    .intro-wrapper .swiper-slide.swiper-slide-active{
        transform: scale(1) !important;
    }
    
    .bg-header{
        background: url(../images/backgroud-mb.jpg) no-repeat top center;
        background-size: 100% 100%;
    }

    .button-img{
        width: 70px;
        margin-bottom: 20px;
    }

    .main-video {
        background: #F7F8F7 url(../images/bg-main-video.png) no-repeat center center;
        background-size: 490% 100%;
        padding: 50px 0 100px;
        color: #fff;
        min-height: 520px;
    }

    .why-icon-animation{
        display: none !important;
    }

    .community-content{
        position: relative;
        transform: translateY(0)
    }

    .community{
       margin-bottom: 20px;
    }

    .product{
        margin-top: 30px;
    }

    .why-title{
        font-size: 18px;
    }

    .product-value{
        font-size: 30px;
    }

    .product-slider-2{
        display: none;
    }

    .tutorial-button{
        height: 90px;
    }

    .footer-logo{
        border: none;
        margin-bottom: 20px;
    }

    .footer-item-value{
        font-size: 14px;
    }

    .footer-item-title{
        align-items: flex-start;
    }

    .footer{
        padding: 70px 0 30px;
    }

    .bg-bottom{
        padding-bottom: 80px;
    }

    /* --------- */
}


/* Tablet Only */

@media (min-width: 740px) and (max-width: 1023px) {
    .hidden-tl{
        display: none !important;
    }

    .centering-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .we-button{
        margin-bottom: 20px;
    }

    .intro-title--wrapper img{
        padding: 90px;
    }

    .modal-content{
        transform: translateY(32vh) scale(0.95);
    }

    .modal-video{
        transform: translateX(-18vw);
    }
}

/* Mobile Only */
@media (max-width: 739px) {
    .hidden-m {
        display: none !important;
    }

    .intro-title--wrapper{
        height: 30vh;
    }

    .button-img{
        height: 50px;
    }

    .intro-card img {
        width: 90%;
    }

    .modal-video-content{
        height: 53%;
        position: absolute;
        top: 9%;
        left: 12%;
        width: 78%;
        border-radius: 9px;
        overflow: hidden;
    }

    .video-comment{
        display: none;
    }

    .modal-content{
        transform: translateY(32vh) scale(0.95);
    }

    .modal-video{
        transform: translateX(-2vw);
    }
    
    .centering-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .u-know-cart-img{
        height: 140px;
        width: 100%;
    }

    .u-know-cart-desc{
        font-size: 12px;
    }

    .intro-cart{
        margin-top: 50px;
    }

    .cart-content{
        padding: 20px;
    }

    .cart-content-right{
        padding-right: 0;
        padding-top: 10px;
    }    

    .we-button{
        margin-bottom: 20px;
    }

    .we{
        padding: 20px 0;
    }

    .partner{
        margin: 20px 0;
    }

    .product.mt-5{
        margin-top: 20px !important;
    }

    .primary-title{
        font-size: 24px;
    }

    .number-item{
        margin: 10px 0;
    }

    .number-item{
        flex-direction: column;
        align-items: center;
    }

    .number-item-value{
        text-align: center;
    }

    .number-item-desc{
        text-align: center;
    }

    .voucher-content{
        margin-top: 30px;
    }

    .footer-title{
        font-size: 18px;
    }

    .accor-title-text{
        font-size: 14px;
    }

    .about .col-lg-4 {
        display: flex;
        justify-content: center;
    }

    .about{
        padding: 10px 0;
    }

    .about .col-lg-4 img{
        width: 280px;
    }

    .we-title{
        text-align: center;
    }

    .u-know-button-text{
        font-size: 14px;
    }

    #formRegisterDownline .d-flex{
        flex-direction: column;
    }

    .voucher .row{
        flex-direction: column-reverse
    }

    .cart-content-title{
        font-size: 27px;
    }

    .product-cart-img{
        height: 290px;
    }

    .product-cart-img img {
        object-fit: cover;
    }
}

/* 500*/
@media (min-width: 500px) and (max-width: 742px) {
    .hidden-500plus {
        display: none !important;
    }
}


@media (max-width: 500px) {
    .hidden-500{
        display: none !important;
    }
}


@media (max-width: 375px) {
    .main-content{
        width: 100% !important;
    }
}

