
html,body{
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #fff;
    font-family: 'Play', sans-serif;

    overflow-x: hidden;
}

.soft-menu__item a{
    font-family: 'Play', sans-serif;
    color: #fff !important;
    font-weight: 700 !important;
    font-size: 16px !important;
}

ul{
    padding-left: 0;
}

img{
    width: 100%;
    height: auto;
}

a{
  display: inline-block;
  color: unset;
  text-decoration: none;
}

.mt-20{
    margin-top: 20px;
}

.mb-40{
    margin-bottom: 40px !important;
}

a:hover{
    text-decoration: none;
    color: unset;
  }

.centering{
    display: flex;
    align-items: center;
    justify-content: center;
}

.centering-y{
    display: flex;
    align-items: center;
}

/* custom inline */

.primary-gradient-text-1{
    user-select: none;
    font-weight: 900 !important;
    background-image: linear-gradient(180deg, rgba(202, 145, 11, 0.98) 0%, #EFE494 47%, rgba(202, 145, 11, 0.96) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.primary-gradient-text-2{
    user-select: none;
    font-weight: 900 !important;
    background-image: linear-gradient(180deg, #038DDA 30%, rgba(107, 179, 233, 0.96) 51%, rgba(3, 141, 218, 0.96) 73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.primary-gradient-text-3{
    user-select: none;
    font-weight: 900 !important;
    background-image: linear-gradient(180deg, #AF2021 30%, rgba(192, 93, 94, 0.96) 51%, rgba(175, 32, 33, 0.96) 73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.primary-gradient-text-4{
    user-select: none;
    font-weight: 900 !important;
    background-image: linear-gradient(180deg, #677F00 30%, rgba(149, 177, 24, 0.96) 51%, rgba(103, 127, 0, 0.96) 73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.primary-gradient-text-5{
    user-select: none;
    font-weight: 900 !important;
    background-image: linear-gradient(180deg, #D7A88E 30%, rgba(249, 209, 188, 0.96) 51%, rgba(215, 168, 142, 0.96) 73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.primary-button{
    display: inline-flex;
    align-items: center;
    -webkit-box-shadow: 10px 20px 18px -13px #000;
    border-radius: 100px;
    background-color: #F4D011;
    padding: 12px 18px;
    color: #fff;
    font-weight: 700;
}

.primary-button {
  border: none;
  background-color: #F4D011;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;
  font-weight: 400;
  outline: none;
  position: relative;
  overflow: hidden;
  border-radius: 23px;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.primary-button:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.primary-button:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 5px solid #F4D011;
  content: '';
  border-radius: inherit;
}
.primary-button:hover,
.primary-button.hover {
  background-color: #F4D011;
  color: #ffffff;
}
.primary-button:hover:before,
.primary-button.hover:before {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 0.25;
}

.second-primary{
  color: rgb(0, 128, 55);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 6px 16px;
  border: 1px solid rgb(0, 128, 55);
  border-radius: 100px;
}

.products .primary-button {
    padding: 10px 12px;
    display: flex;
}

.primary-button i{
    margin-right: 10px;
}

.title-white{
    font-weight: 500;
    color: #fff;
    font-size: 32px;
    letter-spacing: 1px;
}

.desc-white{
    color: #fff;
    font-size: 26px;
}

.title-primary-blue{
    font-weight: 500;
    color: #478FFE;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 1px;
}


.primary-button:hover{
    cursor: pointer;
    transform: scale(0.98);
}

.paragraph{
    color: #000;
    text-align: justify;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: 300;
}

.paragraph.center{
    text-align-last: center;
}

.primary-title{
    color: rgb(0, 153, 102);
    font-size: 28px;
    font-weight: 700;

    text-align: center;
}

.yellow-text{
    color: rgb(244, 208, 17);
}

/* NAV MOBILE */
.soft-menu {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.407);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all linear 0.01s;
  transition: all linear 0.01s;
  opacity: 1;
  z-index: 1232323232;
}

.soft-menu.open {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.soft-menu__list {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #811216;
  width: 290px;
  height: 100vh;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.soft-menu__list.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.soft-menu__item {
  letter-spacing: 1px;
  /* height: 47px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0 12px 18px;
  border-top: 1px solid #8B913E;
}

.soft-menu__item a {
  position: relative;
  color: #FCCB28 !important;
  font-size: 15px;
  font-weight: 500;
}

.soft-menu__item i {
  padding-right: 8px;
  font-size: 14px;
  color: #fff;
}

.soft-menu__item:hover a {
  color: #47BAD4;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.soft-menu__item.dark-modes:hover a {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  color: unset;
}

.soft-menu__item--active a {
  color: #47BAD4;
}

.soft-menu__item.dark-modes{
    height: 60px;
    display: flex;
    justify-content: flex-start;
}

.soft-menu__item.dark-modes img{
    height: 100%;
}

.soft-menu__item.hehe{
    display: flex;
    justify-content: space-between;
}

.soft-menu__item.hehe i{
    color: #fff;
}

/* HEADER MOBILE */
.header-mobile{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #811216;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
}

.header-mobile-icon i{
    color: #FCCB27;
    font-size: 22px;
}

.header-mobile-right{
    height: 100%;
    padding: 12px 0;
    display: flex;
    align-items: center;
}

.header-mobile-right img{
    height: 100%;
    width: auto;
}

/* trituetunhien */
.header-buttons{
  display: flex;
}

.header-buttons div:first-child{
  margin-right: 8px;
}

.noti{
  display: flex;
  align-items: center;
  padding: 6px 10px;

  background-color: #FBBA29;
  color: #000;

  font-weight: 600;
  font-size: 14px;
}

.noti-icon i{
  color: #000 !important;
  padding: 4px;
}

.noti .noti-content i{
  font-size: 12px;
  color: #7C1116;
}

.text-20{
  font-size: 20px;
}